<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <style>
      h1{text-align:center}
      table,th,td{border : 1px solid black; border-collapse:collapse}
      table{width:900px; margin:20px auto}
      th,td{height:40px; text-align:center}
      div{width:400px; margin :0 auto}
      button{width:150px; height: 50px; font-size:20px}
   </style>
</head>
<body>
   {% comment %} {{list}}<br> {% endcomment %}
   <h1>학생정보리스트</h1>
   <table>
      <tr>
         <th>번호</th>
         <th>이름</th>
         <th>학과</th>
      </tr>
      {% for s in list%}
      <tr>
         <td>{{forloop.counter}}</td>
         <td><a href="/students/view/?name={{s.name}}">{{s.name}}</a></td>
         <td>{{s.major}}</td>
      </tr>
      {%endfor%}
   </table>
   <br>
   <div>
      <a href="/"><button>홈페이지</button></a>
      <a href="/students/write/"><button>학생등록</button></a>
   </div>
</body>
</html>