<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <style>
      {% comment %} *{margin :0 auto} {% endcomment %}
   </style>
</head>
<body>
   <h2>학생수정페이지</h2>
   <form action="/students/update/{{stu.name}}/" method='post' name='frm'>
      {% csrf_token %}
      <label for="">이름</label>
      <input type="text" name='name' value='{{stu.name}}'><br>
      <label for="">전공</label>
      <input type="text" name='major' value='{{stu.major}}'><br>
      <label for="">학년</label>
      <input type="text" name='grade' value='{{stu.grade}}'><br>
      <label for="">나이</label>
      <input type="text" name='age' value='{{stu.age}}'><br>
      <label for="">성별</label><br>
      <input type="radio" name='gender' value='남자' id='man'
         {% if '남자' in stu.gender %}checked{% endif %}>
         <label for="man">남자</label>
      <input type="radio" name='gender' value='여자' id='woman'
         {% if '여자' in stu.gender %}checked{% endif %}>
      <label for="woman">여자</label>
      <br>
      <input type="submit" name="" id="" value='수정'>
      <button type='button'><a href="/students/view/?name={{stu.name}}">취소</a></button>
   </form>
</body>
</html>