<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <style>
      {% comment %} *{margin :0 auto} {% endcomment %}
   </style>
</head>
<body>
   <h2>학생등록페이지</h2>
   <form action="/students/write/" method='post' name='frm'>
      {% csrf_token %}
      <label for="">이름</label>
      <input type="text" name='name'><br>
      <label for="">전공</label>
      <input type="text" name='major'><br>
      <label for="">학년</label>
      <input type="text" name='grade'><br>
      <label for="">나이</label>
      <input type="text" name='age'><br>
      <label for="">성별</label><br>
      <input type="radio" name='gender' value='남자' id='man'>
      <label for="man">남자</label>
      <input type="radio" name='gender' value='여자' id='woman'>
      <label for="woman">여자</label>
      <br>
      <input type="submit" name="" id="" value='저장'>
      <button type='button'><a href="/">홈으로</a></button>
   </form>
</body>
</html>